<table>
  <tr>
    <th>Founders:</th>
    <th>Name</th>
    <th>Area of Expertise</th>
    <th>Will Code</th>
    <th>Linked-In Page / Web Site (if any)</th>
  </tr>
  <%# for qfounder in @questionnaire.qfounders.order("lastname") do %>
  <% for qfounder in @questionnaire.qfounders do %>
    <tr>
      <td></td>
      <td><%= qfounder.firstname %> <%= qfounder.lastname %></td>
      <td><%= qfounder.role %></td>
      <td>
        <% if (! qfounder.willcode.nil?) && (qfounder.willcode == 1) %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
      <td><%= link_to qfounder.weblink, qfounder.weblink %></td>
    </tr>
  <% end %>
</table>
<br/>
