table.accel
{
# border:0;
# border-collapse:collapse;
}
table.accel td.index, th.index
{
  padding:0px 3px;
  font-size: 0.85em;
}
table.accel td.index
{
  vertical-align:text-top;
}
table.accel td.center, th.center
{
  text-align:center;
}
table.accel td.description
{
  width:45%;
# font-size: 0.9em;
}
fieldset.nomargin
{
  margin-bottom: 1.0em;
  padding: 0 0.9em 0.9em 0.9em;
}
tr.nomargin, tr.nomargin td, tr.nomargin td input[type=text],
tr.nomargin td input[type=password]
{
  padding:2px;
  margin:2px;
  line-height:1.0em;
}
select.nomargin, select.nomargin option
{
  border-color:#aaa;
  padding-top:0px;
  padding-bottom:0px;
  margin-top:0px;
  margin-bottom:0px;
}
tbody tr.no_stripe:nth-child(even) td,
tbody tr.no_stripe td,
tbody tr.accel:nth-child(even) td,
tbody tr.accel td  {
# remove blueprint striping
#       background: #e5ecf9;
#       background: white;
        background: none;
}
input.accelwidth
{
  width:180px;
}
.nowrap
{
  white-space:nowrap;
}
.required
{
  color:red;
  font-size:130%;
  font-weight:bold;
  font-style:italic;
}
.more_link, a.more_link
{
  font-style:italic;
# font-weight:bold;
  font-size:1.05em;
# color:black;
# color:#BB00BB;
}
ul.accel
{
  margin:10px;
  padding:0;
}
ul li.inline_menu
{
  display: inline-block;
  list-style-type:none;
  padding: 0 1.8em;
}
ul li.accel_menu
{
  list-style-type:none;
  padding: 0 0.4em;
  font-size:0.8em;  # small font
}
ul li.nostyle
{
  list-style-type:none;
}
.left_margin
{
  margin-left:40px;
}
.apply_title
{
  font-weight:bold;
  font-size:1.3em;
}
.apply_notice
{
  padding-top:10px;
  padding-left:20px;
  font-size:0.9em;
# color:#444;
# color:#069;
  color:#205791;
}
.bigbutton
{
  height:40px;
  width:240px;
  font-size:1.0em;
}
.bigfont
{
  font-size:1.2em;
}
.mediumfont
{
  font-size:0.9em;
}
.bigarea
{
  width:500px;
  height:90px;
}
.bigmargin
{
  margin-bottom:12px;
}
.dtextpad
{
  padding-top:90px;
# same as bigarea height;
}
.ctpad
{
  margin:2px;
  padding:100px 2px 2px 2px;
}
.applybox {
  padding:10px;
  margin:2px;
# background:#fff6bf;
}
.applycolor {
  background:#fff6bf;
}
.usercolor {
  color:#aea;
}
.usermargin {
  margin-left: 300px;
}
.background_pix {
# width: 900px;
# height: 300px;
# background: url('/images/GOOD-VIBES-Redwood-Forest.jpg') no-repeat;
  background: url('../images/GOOD-VIBES-Redwood-Forest.jpg');
# background: url('../images/hudson-river-sloop-clearwater-lg.jpg');
# background: url('../images/Redwood_Forest.jpg');
  opacity: 0.7;
}
