table.accel
{
# border:0;
# border-collapse:collapse;
}
table.accel td.index, th.index
{
  padding:0px 3px;
  font-size: 0.85em;
}
table.accel td.index
{
  vertical-align:text-top;
}
table.accel td.center, th.center
{
  text-align:center;
}
table.accel td.description
{
  width:45%;
# font-size: 0.9em;
}
.more_link, a.more_link
{
  font-style:italic;
# font-weight:bold;
  font-size:1.05em;
# color:black;
# color:#BB00BB;
}
tr.nomargin, tr.nomargin td, tr.nomargin td input[type=text]
{
  padding:2px;
  margin:2px;
  line-height:1.0em;
}
select.nomargin, select.nomargin option
{
  border-color:#aaa;
  padding-top:0px;
  padding-bottom:0px;
  margin-top:0px;
  margin-bottom:0px;
}
input.accelwidth
{
  width:180px;
}
.nowrap
{
  white-space:nowrap;
}
.required
{
  color:red;
  font-size:130%;
  font-weight:bold;
  font-style:italic;
}
ul.accel
{
  margin:10px;
  padding:0;
}
ul li.inline_menu
{
  display: inline-block;
  list-style-type:none;
  padding: 0 1.8em;
}
ul li.accel_menu
{
  list-style-type:none;
  padding: 0 0.4em;
  font-size:0.8em;  # small font
}
ul li.nostyle
{
  list-style-type:none;
}
.left_margin
{
  margin-left:40px;
}
.apply_title
{
  font-weight:bold;
  font-size:1.3em;
}
.apply_notice
{
  padding-top:10px;
  padding-left:20px;
  font-size:0.9em;
# color:#444;
# color:#069;
  color:#205791;
}
.bigbutton
{
  height:40px;
  width:240px;
  font-size:1.0em;
}
.bigfont
{
  font-size:1.4em;
}
.bigarea
{
  width:500px;
  height:75px;
}
.bigmargin
{
  margin-bottom:12px;
}
.dtextpad
{
  padding-top:75px;
# same as bigarea height;
}
.ctpad
{
  margin:2px;
  padding:100px 2px 2px 2px;
}
