<!-- for devise logout -->
<div class="push-3 span-10 last">
  <% if ac_user_signed_in? %>
    <%= current_ac_user.name %> accelerator logged in. Not you?
    <%= link_to "Log out", destroy_ac_user_session_path, :method => :delete %>
  <% end %>
</div>

<p class="clear"><%= notice %></p>
<p class=""><%= alert %></p>

