<div class="span-20">

<div class="span-6 bigfont bigmargin last">
  Update Accelerator
</div>

<%= render 'devise_logout' %>

<%= render 'form' %>

<ul class="push-10 span-10 last">
  <li class="inline_menu">
    <%#= link_to 'List Accelerators', accelerators_path %>
    <%= link_to 'Discard Changes', accelerators_path %>
  </li>
  <li class="inline_menu">
    <%= link_to 'Delete Accelerator', { :controller => "accelerators", :action => "destroy" }, :confirm => 'Are you sure you want to delete this accelerator?', :method => :delete %>
  </li>
</ul>

</div>

