<div class='span-20'>

<div class="span-6 bigfont bigmargin last">
  Create New Accelerator
</div>

<%= render 'devise_logout' %>

<%= render 'form' %>

<ul class="push-13 span-5 last">
  <li class="inline_menu">
    <%= link_to 'List Accelerators', accelerators_path %>
  </li>
</ul>

</div>

