<div class='span-20'>

<div class="span-14 bigfont bigmargin last">
  Accelerator Terms of Agreement
</div>

<div class="span-16 last">
  <p class="push-1">We, the Accelerator, agree to accept emailed applications from Founders Hookup, as is.  Founders Hookup makes no assurances as to the accuracy of statements made in applications.  Applications may contain forward-looking statements, and Founders Hookup cannot guarantee results.  
  </p>
  <p class="push-1 last">In addition, Founders Hookup makes no assurances as to the accuracy of information provided by Accelerators on the Founders Hookup web site.  Information presented by Accelerators may contain forward-looking statements, and Founders Hookup cannot guarantee results.  
  </p>
  <p>If you have any questions or concerns, please contact Founders Hookup at the email address or phone number below, and we will try to accomodate you.
  </p>

</div>

<ul class="clear">
  <li class="push-16 inline_menu">
    <%= link_to 'List Accelerators', accelerators_path %>
  </li>
</ul>

</div>
