<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

  <h3>Founders Hookup Accelerator Application</h3>
  <br/>
  <% if !@acnames.nil? %>
    <p>The following application from <%= @questionnaire.companyname %> was sent via Founders Hookup to Accelerators:
    <ul>
      <% @acnames.each do |acname| %>
        <li> <%= acname %> </li>
      <% end %>
    </ul>
    </p>
  <% else %>
    <p>The following application from <%= @questionnaire.companyname %> was sent via Founders Hookup.
    </p>
  <% end %>
  <br/>

  <%= render :partial => "qinfo" %>

  </body>
</html>
