<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

  <h3>Founders Hookup Accelerator Application</h3>
  <br/>
  <% if !@accel.nil? %>
    <p>The following is an application to accelerator <%= @accel.name %>
       from <%= @questionnaire.companyname %> via Founders Hookup.
    </p>
  <% else %>
    <p>The following is a test application 
       from <%= @questionnaire.companyname %> via Founders Hookup.
    </p>
  <% end %>
  <br/>

  <%= render :partial => "qinfo" %>

  </body>
</html>
