<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

  <h3>Founders Hookup - Test Accelerator Application</h3>
  <p>The following is a test application 
     from <%= @questionnaire.companyname %> via Founders Hookup.
  </p>

  <%= render :partial => "qinfo" %>

  </body>
</html>
