<div class="span-20">

<h4><b>Update Accelerator Application</b></h4>

<%= render 'form' %>

<ul class="push-7">
  <li class="inline_menu span-4">
    <%= link_to 'List Applications', questionnaires_path %>
  </li>
  <li class="inline_menu span-4">
    <%= link_to 'Delete Application', questionnaire_path(@questionnaire), :confirm => 'Are you sure you want to delete this application?', :method => :delete %>
  </li>
</ul>

</div>
