<div class="span-20">

<h4><b>New Accelerator Application</b></h4>

<%= render 'form' %>

<ul class="push-12">
  <li class="inline_menu span-4">
    <%= link_to 'Discard Changes', accelerators_path %>
  </li>
</ul>

</div>
