<footer>
  <section>
    <ul>
      <li>
        <h3>Founders<span class='dblue'>Hookup</span></h3>
        <p> &copy; 2011 FoundersHookup.Inc. <br/>
        All rights reserved.  <br/>
      </li>

      <li>
        <h3>Site</h3>
        <ul style='padding-left: 0px !important;'>
          <li><a class='footer_desc' href="<%= root_path %>">Home</a></li>
          <li><a class='footer_desc' href="/about">About Us</a></li>
          <li><a class='footer_desc' href="/about">How It Works</a></li>
          <li><a class='footer_desc' href="/about#contact">Contact Us</a></li>
        </ul>
      </li>
      
      <li>
        <h3>Follow Us</h3>
        <a target='_new' href='http://www.facebook.com/pages/FoundersHookup/166692863384506'>
          <img src="images/ideaware/icn/icn_fb.png" alt="Facebook" />
        </a>
        <a target='_new' href='http://twitter.com/FoundersHookup'>
          <img src="images/ideaware/icn/icn_tw.png" alt="Twitter" />
        </a>
        <br/>
      </li>
				
      <li class="last">
        <h3>Contact Us</h3>
        <a class='footer_desc' href="mailto:support@foundershookup.com">support@foundershookup.com</a>
          <span class='footer_desc'>
            <strong>FoundersHookup, Inc.</strong> <br />
  					660 4th Street #487 <br />
  					San Francisco, CA 94107 <br />
            Phone: +1-415-309-8860
          </span>
      </li>
    </ul>
  </section>
</footer>
